/*
heart
*/
@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(225deg);
    -webkit-box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(225deg);
    -webkit-box-shadow: 0 0 70px rgba(213, 9, 60, 0.6);
  }
  100% {
    -webkit-transform: scale(1) rotate(225deg);
    -webkit-box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  }
}
@-moz-keyframes beat {
  0% {
    -moz-transform: scale(1) rotate(225deg);
    -moz-box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  }
  50% {
    -moz-transform: scale(1.1) rotate(225deg);
    -moz-box-shadow: 0 0 70px rgba(213, 9, 60, 0.6);
  }
  100% {
    -moz-transform: scale(1) rotate(225deg);
    -moz-box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  }
}
@keyframes beat {
  0% {
    transform: scale(1) rotate(225deg);
    box-shadow: 0 0 40px #d5093c;
  }
  50% {
    transform: scale(1.1) rotate(225deg);
    box-shadow: 0 0 70px #d5093c;
  }
  100% {
    transform: scale(1) rotate(225deg);
    box-shadow: 0 0 40px #d5093c;
  }
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #ffa5a5;
  background: -moz-linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffa5a5),
    color-stop(100%, #ffd3d3)
  );
  background: -webkit-linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
  background: linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
}
#chest {
  position: absolute;
  width: 400px;
  height: 350px;
  margin: 0 auto;
  left: 6em;
  top: 2.5em;
}
.heart {
  position: absolute;
  z-index: 2;
  background: -moz-linear-gradient(-90deg, #f50a45 0%, #d5093c 40%);
  background: -webkit-gradient(
    linear,
    right 50%,
    left 50%,
    color-stop(0%, #f50a45),
    color-stop(40%, #d5093c)
  );
  background: -webkit-linear-gradient(-90deg, #f50a45 0%, #d5093c 40%);
  background: linear-gradient(-90deg, #f50a45 0%, #d5093c 40%);
  -webkit-animation: beat 0.7s ease 0s infinite normal;
  -moz-animation: beat 0.7s ease 0s infinite normal;
  animation: beat 0.7s ease 0s infinite normal;
}
.heart.center {
  background: -moz-linear-gradient(-45deg, #b80734 0%, #d5093c 40%);
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #b80734),
    color-stop(40%, #d5093c)
  );
  background: -webkit-linear-gradient(-45deg, #b80734 0%, #d5093c 40%);
  background: linear-gradient(-45deg, #b80734 0%, #d5093c 40%);
}
.heart.top {
  z-index: 3;
}
.side {
  #top: 50px;
  top: 89px;
  #width: 220px;
  width: 120px;
  #height: 220px;
  height: 120px;
  -moz-border-radius: 220px;
  -webkit-border-radius: 220px;
  border-radius: 220px;
}
.center {
  width: 110px;
  height: 110px;
  bottom: 100px;
  left: 145px;
  font-size: 0;
  text-indent: -9999px;
}
.left {
  #left: 62px;
  left: 101px;
}
.right {
  right: 101px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;

  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.test-why {
  width: 0.5em;
  height: 1em;
  position: absolute;
  left: 0.5em;
}
.test-why.no1 {
  top: -1.1em;
  left: 0.5em;
}
.test-why.no3 {
  top: -1.1em;
  left: 2.8em;
}
.test-why.no4 {
  top: 0.8em;
  left: 3.5em;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-animation-delay: 6s !important;
  -moz-animation-delay: 6s !important;
  animation-delay: 6s !important;
}
.test-why.no5 {
  top: 0.8em;
  left: 4.4em;
  -webkit-animation-delay: 10s !important;
  -moz-animation-delay: 10s !important;
  animation-delay: 10s !important;
}
html,
body {
  height: 1000px;
  color: #333;
  font-family: "Indie Flower", cursive;
  #font-size: 10em;
  text-shadow: 1px 1px 10px #fff;
}
.sprite {
  position: absolute;
  left: 100px;
  top: 50px;
}
.sprite__frame {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  display: block;
  width: 100px;
  height: 100px;
}
.sprite__ellipse {
  stroke: #ff1493;
  fill: none;
}
.svg {
  position: absolute;
  top: 400px;
  left: 0;
}
.svg-path {
  position: absolute;
  top: 160px;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #333;
}
.page {
  background: #ff1493;
  width: 100%;
  height: 1888px;
  position: absolute;
  overflow: hidden;
}
.page__inner {
  overflow: hidden;
  position: absolute;
  width: 4px;
  height: 4px;
  left: 1000px;
  top: 40px;
  background: #ffa500;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1280px;
  -ms-perspective: 1280px;
  perspective: 1280px;
}
.page__inner.is-normal {
  width: 100%;
  height: auto;
  -webkit-transition: none;
  transition: none;
  overflow: visible;
  position: static;
}
.page__inner.is-normal .page__inner__inner {
  width: 100%;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: static;
}
.page__inner.is-scaled {
  -webkit-transform: scale(1280);
  -ms-transform: scale(1280);
  transform: scale(1280);
  -webkit-transition: -webkit-transform 7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 7s cubic-bezier(0.19, 1, 0.22, 1);
}
.page__inner.is-scaled .page__inner__inner {
  -webkit-transform: translateZ(-1638400px);
  -ms-transform: translateZ(-1638400px);
  transform: translateZ(-1638400px);
  -webkit-transition: -webkit-transform 7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 7s cubic-bezier(0.19, 1, 0.22, 1);
}
.page__inner__inner {
  width: 1280px;
  left: -1000px;
  top: -40px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #ffa500;
}
.elem {
  width: 50px;
  height: 50px;
  margin-left: 200px;
  background: #ff1493;
  border-radius: 50%;
}

audio{
  display: none;
}